# Web Framework & Server
fastapi
uvicorn
python-multipart
gunicorn

# Security & Authentication
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# Database & Environment
supabase
sqlalchemy
psycopg2-binary
python-dotenv

# Machine Learning & Data Processing
scikit-learn
pandas
joblib
numpy>=2.0.0

# Utilities
pydantic
requests